<md-content layout="row" layout-align="center center">
    <md-card layout="column" flex="30" layout-padding>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Sign Up</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content flex layout-padding>
      <form name="form" ng-submit="form.$valid && vm.user.login()" novalidate>
        <md-input-container class="md-block">
          <label>Username</label>
          <input type="text" name="username" class="form-control" ng-model="vm.user.username" required />
          <div ng-messages="form.username.$error" multiple md-auto-hide="false">
            <div ng-message="required">
              *This field is required
            </div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Password</label>
          <input type="password" name="password" class="form-control" ng-model="vm.user.password" required />
          <div ng-messages="form.password.$error" multiple md-auto-hide="false">
            <div ng-message="required">
              *This field is required
            </div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>First Name</label>
          <input type="text" name="firstName" class="form-control" ng-model="vm.user.firstName" required />
          <div ng-messages="form.firstName.$error" multiple md-auto-hide="false">
            <div ng-message="required">
              *This field is required
            </div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Last Name</label>
          <input type="text" name="lastName" class="form-control" ng-model="vm.user.lastName" required />
          <div ng-messages="form.lastName.$error" multiple md-auto-hide="false">
            <div ng-message="required">
              *This field is required
            </div>
          </div>
        </md-input-container>

        <div class="form-group">
          <md-button ng-disabled="!form.$valid" class="md-raised" ng-click="vm.signUp()">Sign Up Now!</md-button>
          <md-button class="md-raised" ng-click="vm.login()">Login</md-button>
        </div>
        <div ng-if="vm.error" class="alert alert-danger">{{vm.error}}</div>
      </form>
    </md-card-content>
  </md-card>

</md-content>